body{
    background: linear-gradient(90deg, red, white);
    /* background-repeat: no-repeat; */
}
/* .container{ */
    /* width: 80%; 
    margin: auto;*/
    /* background-color: aqua; */
    /* width: 40rem; */
    /* height: 10rem; */
/* } */
.logo{
    margin: auto;
    width: 257px;
    height: 103px;
    background-image: url("https://raw.githubusercontent.com/PokeAPI/media/master/logo/pokeapi_256.png");
}
.pokemon-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}